
body {
    font-family: Cerebri-Sans,Helvetica,Arial,sans-serif
}


h1 {

    line-height: 29px;
    font-weight: 700;
    font-size: 38px;
    color: #272142;
}

ul {
    margin: 0;
    padding: 0;
}


li{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #272142 ;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;


}


.weather-app-wrapper {
     max-width: 650px;
    margin: 30px auto;
}

.weather-app{
   
    padding: 20px;
    border: 1px solid #878787;

}

.overview {
    margin-bottom: 20px;
}

.weather-temp img {
    margin-right: 15px;
    height: 65px;
    width: 65px;

}

.weather-temp strong {
    color: #272142 ;
    font-size: 45px;
    font-weight: 400px;
    line-height: 1;
}

.weather-temp .units {
position: relative;
font-size: 16px;
top: -25px;

}